//Styles for barcharts

.bar-chart {
    -fx-effect: dropshadow(three-pass-box, grey, 4.5, 0.0, 1.0, 1.0);
    -fx-bar-gap: 1;
    -fx-category-gap: 2;
}

.default-color0.chart-bar {
    -fx-bar-fill: #0029f9;
}

.default-color1.chart-bar {
    -fx-bar-fill: green;
}

.default-color2.chart-bar {
    -fx-bar-fill: #ae00f9;
}

.axis {
    -fx-tick-label-fill: black;
    -fx-effect: none;
    }

.axis-tick-mark {
    -fx-stroke: black;

}
.axis-minor-tick-mark {
    -fx-stroke: #383838;
}

.axis-label {
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-effect: none;
}
.chart-legend-item {
   -fx-font-size: 8pt;
   -fx-effect: none;
   -fx-text-fill: #191970;
 }

