//Base Style Chart for App

.root {
    -fx-background-color: #d2691e;
}

.label {
    -fx-font-size: 18pt;
    -fx-font-weight: bold;
    -fx-font-family: sans-serif;
    -fx-font-style: oblique;
}

.button {
    -fx-background-color:  white;
    -fx-font-size: 12pt;
    -fx-effect: dropshadow(three-pass-box, black, 4.5, 0.0, 1.0, 1.0);
}

#darkSky {
    -fx-background-image: url('https://darksky.net/dev/img/attribution/poweredby-oneline.png');
    -fx-background-size: 100%;
    -fx-background-color: transparent;
    -fx-effect: none;
 }
